{
    "openapi": "3.0.0",
    "info": {
        "title": "Attendance Management System API",
        "description": "API for school attendance management system with face recognition, GPS verification, and comprehensive employee management.",
        "contact": {
            "name": "API Support",
            "url": "https://attendance-system.com/support",
            "email": "admin@attendance-system.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/v1/employees": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Get list of employees",
                "description": "Retrieve a paginated list of employees with optional filtering",
                "operationId": "getEmployeesListDemo",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by name, employee code, or email",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Employees retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "550e8400-e29b-41d4-a716-446655440000"
                                                    },
                                                    "full_name": {
                                                        "type": "string",
                                                        "example": "John Doe"
                                                    },
                                                    "employee_code": {
                                                        "type": "string",
                                                        "example": "EMP2024001"
                                                    },
                                                    "department": {
                                                        "type": "string",
                                                        "example": "Mathematics"
                                                    },
                                                    "position": {
                                                        "type": "string",
                                                        "example": "Senior Teacher"
                                                    },
                                                    "email": {
                                                        "type": "string",
                                                        "example": "john.doe@school.com"
                                                    },
                                                    "is_active": {
                                                        "type": "boolean",
                                                        "example": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Insufficient permissions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "This action is unauthorized"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Employees"
                ],
                "summary": "Create a new employee",
                "description": "Create a new employee record",
                "operationId": "createEmployeeDemo",
                "requestBody": {
                    "description": "Employee data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "full_name",
                                    "email",
                                    "department",
                                    "position",
                                    "employment_type",
                                    "salary_type",
                                    "base_salary",
                                    "hire_date"
                                ],
                                "properties": {
                                    "full_name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.doe@school.com"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "maxLength": 20,
                                        "example": "+1234567890",
                                        "nullable": true
                                    },
                                    "employee_code": {
                                        "type": "string",
                                        "example": "EMP2024001",
                                        "nullable": true
                                    },
                                    "department": {
                                        "type": "string",
                                        "maxLength": 100,
                                        "example": "Mathematics"
                                    },
                                    "position": {
                                        "type": "string",
                                        "maxLength": 100,
                                        "example": "Senior Teacher"
                                    },
                                    "employment_type": {
                                        "type": "string",
                                        "enum": [
                                            "permanent",
                                            "contract",
                                            "part_time",
                                            "honorary"
                                        ],
                                        "example": "permanent"
                                    },
                                    "salary_type": {
                                        "type": "string",
                                        "enum": [
                                            "monthly",
                                            "hourly"
                                        ],
                                        "example": "monthly"
                                    },
                                    "base_salary": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 5000
                                    },
                                    "hire_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-01-15"
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Employee created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Employee created successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "550e8400-e29b-41d4-a716-446655440000"
                                                },
                                                "full_name": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "employee_code": {
                                                    "type": "string",
                                                    "example": "EMP2024001"
                                                },
                                                "department": {
                                                    "type": "string",
                                                    "example": "Mathematics"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation failed"
                                        },
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The email field is required."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/employees/statistics": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Get employee statistics",
                "description": "Get statistical overview of employees including totals, attendance rates, etc.",
                "operationId": "getEmployeeStatisticsDemo",
                "responses": {
                    "200": {
                        "description": "Statistics retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Statistics retrieved successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "total": {
                                                    "description": "Total employees",
                                                    "type": "integer",
                                                    "example": 150
                                                },
                                                "active": {
                                                    "description": "Active employees",
                                                    "type": "integer",
                                                    "example": 145
                                                },
                                                "inactive": {
                                                    "description": "Inactive employees",
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "present_today": {
                                                    "description": "Employees present today",
                                                    "type": "integer",
                                                    "example": 132
                                                },
                                                "absent_today": {
                                                    "description": "Employees absent today",
                                                    "type": "integer",
                                                    "example": 13
                                                },
                                                "attendance_rate": {
                                                    "description": "Today's attendance rate percentage",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 91.03
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/test": {
            "get": {
                "tags": [
                    "Test"
                ],
                "summary": "Test API endpoint",
                "description": "Simple test endpoint to verify API is working",
                "operationId": "testApi",
                "responses": {
                    "200": {
                        "description": "Successful test response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "API is working correctly"
                                        },
                                        "data": {
                                            "properties": {
                                                "version": {
                                                    "type": "string",
                                                    "example": "1.0.0"
                                                },
                                                "environment": {
                                                    "type": "string",
                                                    "example": "development"
                                                },
                                                "timestamp": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/health": {
            "get": {
                "tags": [
                    "Test"
                ],
                "summary": "Health check endpoint",
                "description": "Check API health status",
                "operationId": "healthCheck",
                "responses": {
                    "200": {
                        "description": "API is healthy",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "healthy"
                                        },
                                        "database": {
                                            "type": "string",
                                            "example": "connected"
                                        },
                                        "cache": {
                                            "type": "string",
                                            "example": "working"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "description": "Enter token in format (Bearer <token>)",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            },
            "sanctum": {
                "type": "apiKey",
                "description": "Laravel Sanctum token authentication",
                "name": "Authorization",
                "in": "header"
            }
        }
    },
    "tags": [
        {
            "name": "Employees",
            "description": "Employee management operations"
        },
        {
            "name": "Test",
            "description": "Test"
        }
    ]
}